.about-project {
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
  width: 100%;
  box-sizing: border-box;
}

.about-project__title {
  margin: 0 0 70px;
  width: 100%;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.about-project__article-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 110px;
}

.about-project__article {
  max-width: 550px;
  margin-right: 40px;
}

.about-project__article:last-child{
  margin-right: 0;
}

.about-project__article-title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.about-project__article-paragraph {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.about-project__backend-timeline {
  background-color: #3DDC84;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.about-project__frontend-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  color: #ffffff;
}

.about-project__backend-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  color: #8B8B8B;
}

.about-project__frontend-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  color: #8B8B8B;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__article-container {
    margin-bottom: 93px;
  }

  .about-project__article {
    max-width: 319px;
    margin-right: 30px;
  }

  .about-project__article-paragraph {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline {
    grid-template-columns: 21% 79%;
    max-width: 668px;
  }
}

@media screen and (max-width: 430px) {
  .about-project {
    align-items: center;
    padding: 70px 18px;
  }

  .about-project__title {
    margin-bottom: 60px;
    font-size: 18px;
  }

  .about-project__article-container {
    width: 100%;
    flex-direction: column;
    margin-bottom: 60px;
    margin-right: 18px;
    margin-left: 18px;
  }

  .about-project__article {
    max-width: 284px;
    margin-bottom: 56px;
  }

  .about-project__article:last-of-type {
    margin-bottom: 0;
  }

  .about-project__article-title {
    margin-bottom: 16px;
    font-size: 18px;
  }

  .about-project__article-parapragh {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__timeline {
    grid-template-columns: 35% 65%;
    max-width: 284px;
    font-size: 11px;
  }

  .about-project__backend-timeline {
    height: 35px;
  }

  .about-project__frontend-timeline {
    height: 35px;
  }

  .about-project__backend-title {
    padding-top: 10px;
  }

  .about-project__frontend-title {
    padding-top: 10px;
  }
}