.page {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #202020;
  color: #ffffff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.page__container_blue {
  background-color: #073042;
}

.link {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.link:hover {
  opacity: .7;
  cursor: pointer;
}

.button {
  border: none;
  border-radius: 3px;
}

.button:hover {
  opacity: .8;
  cursor: pointer;
}
