.main {
  width: 100%;
  /* max-width: 1600px; */
  margin: 0 auto;
}

.main__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  padding-right: 70px;
  padding-left: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main.section {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  main.section {
    padding-right: 14px;
    padding-left: 14px;
  }
}