.main {
  width: 100%;
}

.main__container {
  width: 100%;
  border: none;
}

.main__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  padding-right: 70px;
  padding-left: 70px;
}

.main__container_theme_blue {
  background-color: #073042;
}

.main__container_theme_black {
  background-color: #202020;
}

.main__container_theme_gray {
  background-color: #272727;
}
