.card-list {
  margin: 10px 0 10px;
  padding: 70px 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 37px 24px;
  list-style-type: none;
  justify-content: space-between;
}

@media screen and (min-width: 640px) and (max-width: 987px) {
  .card__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 639px) {
  .card__list {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
} 
