.portfolio {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0 125px 0;
}

.portfolio__title {
  width: 100%;
  margin: 0 0 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  color: #8B8B8B;
}

.portfolio__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__list-item {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 0 19px;
  border-bottom: 1px solid #424242;
}

.portfolio__list-item:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.04em;
  transition: opacity .3s ease-in-out;
  opacity: 1;
}

.portfolio__links-arrow {
  line-height: 1.2;
}