.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 36px 0 36px;
}

.header_theme_blue {
  background-color: #073042;
}

.header_theme_black {
  background-color: #202020;;
}

.header__logo {
  position: absolute;
  left: 70px;
}

.header__auth {
  position: absolute;
  right: 70px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__auth li {
  margin-right: 30px;
}

.header__auth li:last-of-type {
  margin-right: 0;
}

.header__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  transition: opacity ease-in-out .2s;
  text-decoration: none;
  color: #fff;
}

.header__link:hover {
  opacity: 0.7;
}

.header__link_signin {
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  color: #000;
  border-radius: 3px;
  background: #3ddc84;
}

.header__link_signin:hover {
  opacity: .8;
}

