.filter-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 70px;
}

.filter-checkbox__label {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.filter-checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.filter-checkbox__toggle-icon {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343434;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.filter-checkbox__toggle-icon:before {
  background-color: #ffffff;
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 3px;
  -webkit-transition: 0.4s;
  transition: 0.5s;
  border-radius: 50%;
}

.filter-checkbox__input:checked + .filter-checkbox__toggle-icon {
  background-color: #2be080;
}

.filter-checkbox__input:checked + .filter-checkbox__toggle-icon:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.filter-checkbox__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 1024px) {
  .filter-checkbox {
    margin-bottom: 50px;
  }
}