 .card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 364px;
  margin: 0;
  border-radius: 6px;
  background:#222;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08); 
  height: 281px;
}   

.card__information {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 14px 16px 16px;
}

.card__image {
  width: 100%;
  max-width: 364px;
  height: 203px;
  object-position: center;
  object-fit: cover;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  overflow: hidden;
}

.card__like-button {
  position: absolute;
  top: 9px;
  right: 16px;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 12px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 10px 8px 8px 8px; 
}

.card__like-button_active {
  background-image: url(../../../images/like-button-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 12px;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.card__delete-button {
  position: absolute;
  top: 9px;
  right: 16px;
  background-image: url('../../../images/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 12px;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.card__time {
  position: relative;
  margin: 0;
  padding: 16px 0 0 ;
  color: #8b8b8b;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

@media screen and (max-width: 1279px) {
  .card {
    max-width: 339px;
    height: 262px;
    margin: 0 auto;
  }

  .card__image {
    width: 100%;
    max-width: 339px;
    height: 190px;
  }

  .card__time {
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    max-width: 300px;
  }
} 