.authorization {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.authorization__container {
  box-sizing: border-box;
  padding: 70px 7px 70px;
  max-width: 400px;
  width: 100%
}

.authorization__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.authorization__title {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.authorization__form {
  margin: 0;
  padding: 20px 0 0;
  background-color: initial;
}

.authorization__fieldset {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.authorization__input-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.authorization__input-label {
  padding: 20px 0 10px;
  margin: 0;
  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.authorization__input {
  padding: 15px 15px;
  margin: 0;
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 8px;
  background: #2F2F2F;
}

.authorization__input:focus {
  outline: none;
  opacity: 0.4;
}

.authorization__error {
  display: block;
  margin: 0;
  padding: 10px 0 70px;
  max-height: 30px;
  max-width: 396px;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.authorization__button {
  margin: 0;
  padding: 14px 0;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background: #4285f4;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  display: block;
  width: 100%;
}

.authorization__confirmation-container {
  margin: 0 auto;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.authorization__confirmation {
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.authorization__confirmation_link {
  color: #4285F4;
}

@media screen and (max-width: 768px) {
  .authorization__container {
    padding-top: 229px;
  }
}

@media screen and (max-width: 576px) {
  .authorization__container {
    padding-top: 53px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .authorization__title {
    padding-top: 46px;
  }

  .authorization__form {
    padding-top: 61px;
    width: 260px;
  }

  .authorization__error {
    padding-bottom: 158px;
  }

  .authorization__button {
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: 12px;
  }

  .authorization__confirmation {
    font-size: 12px;
  }
}