.promo {
  width: 100%;
  min-height: 524px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.promo__title {
  margin: 0;
  max-width: 730px;
  min-width: 300px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  letter-spacing: -2px;
}

.promo__logo {
  position: absolute;
  width: 320px;
}

@media screen and (max-width: 768px) {
  .promo {
    min-height: 768px;
  }

  .promo__title {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .promo {
    min-height: 570px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .promo__logo {
    width: 248px;
    height: 248px;
  }
} 