.promo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.promo__title {
  max-width: 730px;
  margin: 184px 0 224px ;
  font-size: 50px;
  font-weight: normal;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.promo__logo {
  position: absolute;
  width: 320px;
  top: 82px; 
}
