.search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search__container {
  display: flex;
  width: 100%;
  margin: auto;
}

.search__form {
  border-bottom: solid 1px #424242; 
  width: 100%; 
}

.search__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 41px;
  width: 100%;
  background-color: #2F2F2F;
  border-radius: 40px;
  outline: none;
}

.search__input {
  flex-grow: 2;
  border: none;
  background-color: #2F2F2F;
  margin-left: 22px;
  color: #ffffff;
}

.search__input:focus {
  outline: none;
}
.search__submit {
  width: 100%;
  max-width: 34px;
  min-height: 34px;
  margin: 6px 6px 6px 0;
  padding: 0px;
  border: none;
  border-radius: 50%;
  background: url('../../../images/find-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: linear 0.4s;
}

.search__input-error {
  position: absolute;
  margin-top: -30px;
  font-size: 15px;
  color: red;
}

.search__submit:hover {
  border: solid 1px #000;
  transform: scale(1.1);
}