.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: solid 1px #424242;
}

.search__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin: 0 0 41px;
  width: 100%;
  background-color: #2F2F2F;
  border-radius: 40px;
  outline: none;
}

.search__input {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  flex-grow: 2;
  box-sizing: border-box;
  width: 1px;
  margin: 0;
  border: none;
  background-color: #2F2F2F;
  margin-left: 22px;
  color: #ffffff;
}

.search__input:focus {
  outline: none;
  opacity: 0.4;
}

.search__submit-button {
  width: 100%;
  max-width: 34px;
  min-height: 34px;
  margin: 6px 6px 6px 0;
  padding: 0px;
  border: none;
  border-radius: 50%;
  background: url('../../../images/find-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: linear 0.4s;
}

.search__submit-button:hover {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}